package partials

templ ApprovalMessage(msg string) {
	<div
		id="approval-message"
	>
		if msg != "" {
			<div
				hx-swap="outerHTML"
				hx-target="#approval-message"
				class="transition-opacity duration-300 bg-red-100 p-8 rounded-lg max-w-screen-sm w-screen mx-auto"
			>
				Approval Required: { msg }
			</div>
		}
	</div>
}
